body {
  background-color: #083b4c;
}

h1 {
  color: white;
  font-size: 5rem;
}

.square {
  aspect-ratio: 1;
  min-height: 147px;
  background-color: #1389b2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  font-weight: 700;
  font-size: 1.2rem;
}

.fizzbg {
  background-color: #0bd6a1;
}

.buzzbg {
  background-color: #ffd166;
}

.fizzbuzzbg {
  background-color: #f0466f;
}
